* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 1rem;
}

.state {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
}

.completed {
  background-color: lightgreen;
}

.backlog {
  background-color: orange;
}

.in_progress {
  background-color: lightblue;
}

section {
  padding: 2rem 0;
}

.success {
  background-color: lightgreen;
}

.warning {
  background-color: orange;
}

.danger {
  background-color: lightcoral;
}
